/*Header Styles*/
/*From app css*/
.prm-primary-bg, prm-spinner.overlay-cover.light-on-dark:after, prm-search-bar {
  color: #333333;
background-color: #53738C; /*Why?*/ }
  .prm-primary-bg.prm-hue1, prm-spinner.prm-hue1.overlay-cover.light-on-dark:after, prm-topbar .top-nav-bar, prm-search-bar.prm-hue1 {
    background-color: #000000; }
  .prm-primary-bg.prm-hue2, prm-spinner.prm-hue2.overlay-cover.light-on-dark:after, prm-search-bar.prm-hue2 {
    background-color: #333333; }
  .prm-primary-bg.prm-hue3, prm-spinner.prm-hue3.overlay-cover.light-on-dark:after, prm-search-bar.prm-hue3, md-backdrop.md-opaque {
    background-color: #333333; }

/*User name or Guest*/
prm-user-area .user-menu-button .user-name {color: #f7eda3;}

/*Header Toolbar Open*/
prm-user-area md-fab-toolbar.md-is-open {
  z-index: 1;
  transition: z-index 0s .1s linear, opacity 0s 0s ease; }
  prm-user-area md-fab-toolbar.md-is-open md-toolbar {
    width: auto;
    overflow: auto; }
  prm-user-area md-fab-toolbar.md-is-open md-fab-trigger .md-fab-toolbar-background, prm-user-area md-fab-toolbar.md-is-open md-fab-trigger ._md-fab-toolbar-background {
    background-color: #000000 !important;
    transition-duration: .2s; }
  prm-user-area md-fab-toolbar.md-is-open .md-fab-action-item {
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1); }

/*Logo width to prevent nav links from being blocked */
prm-topbar prm-logo {
    z-index: 10;
    height: 100%;
    max-width: 240px;
}

/*Logo - prevent covering My Account pin for small widths*/
@media screen and (max-width:374px) {
  prm-logo .logo-image, prm-logo img {
      z-index: 10;
      height: 100%;
      max-width: 195px;
  }
}

.prm-links.prm-alt-link.prm-hue1, prm-main-menu[menu-type="full"] md-card .md-headline, .md-button.arrow-link-button .prm-alt-link.prm-hue1[link-arrow], md-grid-tile .tile-header .header-link .prm-alt-link.prm-hue1.arrow-icon, .tiles-grid-tile .tile-header .header-link .prm-alt-link.prm-hue1.arrow-icon, md-grid-tile .tile-header .prm-alt-link.prm-hue1.header-link:hover, .tiles-grid-tile .tile-header .prm-alt-link.prm-hue1.header-link:hover, md-grid-tile .tile-header .prm-alt-link.prm-hue1.md-button, .tiles-grid-tile .tile-header .prm-alt-link.prm-hue1.md-button {
        color: #3398BB;
    }

prm-search-bar .simple-search-wrapper md-autocomplete-wrap input {

}
prm-topbar .md-button:not(.md-icon-button) {
    border-radius: 0;
    color: #f1f1f1;
}
prm-topbar .md-button:not(.md-icon-button):hover {
    border-radius: 0;
    color: #ffffff !important;
    background-color: #333333 !important;
}

/*.prm-primary-bg.prm-hue1, prm-spinner.prm-hue1.overlay-cover.light-on-dark:after, prm-topbar .top-nav-bar, prm-search-bar.prm-hue1 {
    background-color: #000000;
}*/
.prm-primary-bg, prm-spinner.overlay-cover.light-on-dark:after, prm-search-bar {
    color: black;
    background-color: #333333;
}
/*Hide Language menu from Header in desktop and mobile, leave in My Account*/
prm-change-lang { display: none; }
span.user-language { display: none !important; }
prm-icon[icon-definition="earth"] {display: none;}
md-divider.vertical-divider.hide-xs.md-primoExplore-theme {display: none;}

/*Disable Caps in Main Menu Links
prm-topbar .md-button {
/    text-transform: none;
}*/
/*Main menu header links*/
prm-main-menu[menu-type="menu"] .md-button {
    padding: 0 0.75em;
    max-width: 12em;
    font-size: 0.8em;
}

/*Main menu overlay screen*/
md-dialog.light-on-dark-dialog {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    border-radius: 3px;
    color: white;
}

/*Hide the redundant main menu links code text*/
.md-subhead {
    font-size: 16px;
    line-height: 24px;
    display: none;
}

/*Advanced Search text*/
prm-search-bar .search-switch-buttons .md-button.switch-to-advanced {
    color: #ffffff;
}
prm-search-bar .advanced-search-tabs {
    background-color: #f1f1f1;
    box-shadow: inset 0 -1px 0 0 #e1e1e1;
}

/*Search magnifying glass*/
.md-button.button-confirm {
    color: #3398BB;
}
.md-button.button-confirm:hover:not([disabled]), .md-button.button-confirm:focus:not([disabled]), .md-button.button-confirm.hovered:not([disabled]), .md-button.button-confirm.md-focused:not([disabled]), .md-button.button-confirm._md-focused:not([disabled]) {
    color: #3398BB;
    background-color: rgba(51, 152, 187, 0.1);
}
/*Add a new line*/
.md-button.md-primary {
    color: #3398BB;
}
/*Radio buttons*/
.prm-secondary-bg.prm-hue1, md-tabs md-ink-bar, md-input-container:after, md-radio-button.md-checked .md-on, md-radio-button.md-checked ._md-on {
    background-color: #3398BB;
}

/*Advanced search Clear */
.md-button.button-notice {
    color: #BB7933;
}

/*Drop down search fields*/
md-option {
    height: 40px;
}

/*Unknown lower contrast blue replacement*/
.prm-links, .md-button.arrow-link-button [link-arrow], md-grid-tile .tile-header .header-link .arrow-icon,
.tiles-grid-tile .tile-header .header-link .arrow-icon, md-grid-tile .tile-header .header-link:hover,
.tiles-grid-tile .tile-header .header-link:hover, md-grid-tile .tile-header .md-button,
.tiles-grid-tile .tile-header .md-button {
  color: #22647B; }


/*Result title hyperlink*/
prm-brief-result .item-title {
    font-size: 1.18em;
    line-height: 1.2em;
    color: #22647B;
    font-weight: 600;
    cursor: pointer;
}

/*Pin*/
.prm-secondary-color.prm-hue1, .result-item-actions .custom-button.pin-button, prm-search-bookmark-filter .prm-hue1.md-button, prm-topbar .prm-hue1.top-nav-bar, prm-recomendation-item .media-on-hover .pin-button {
    color: #22647B;
}

/*Greens*/
.prm-positive {
  color: #147114;
}
.status-available, [class*="available"] > span:first-of-type,
[class*="FT"] > span:first-of-type,
.not_restricted > span:first-of-type,
.fulltext > span:first-of-type,
.fulltext_linktorsrc > span:first-of-type {
  color: #147114;
  font-weight: 600;
}
prm-search-bar .advanced-search-wrapper .search-string .string-block prm-icon {
  float: left;
  clear: none;
  display: inline;
  color: #333;
  color: #147114;
  margin-right: .25em;
  position: absolute;
  left: -1.5em;
}

/*Availability Statement*/
.status-unavailable, [class*="unavailable"] > span:first-of-type, [class*="no_"] > span:first-of-type, .restricted > span:first-of-type, .duedate > span:first-of-type {
    color: #676767;
}
prm-search-result-availability-line {
  line-height: 1.2em;
  padding-top: .5em;
  padding-bottom: .2em;
}

/*Results background make lighter from #f1f1f1 to #f8f8f8*/
.prm-background.prm-hue2, html.prm-hue2, body.prm-hue2, .line-clamp-1::after, .line-clamp-2::after, .line-clamp-3::after, .line-clamp-4::after, .line-clamp-5::after, prm-search-result-list .results-title, prm-search-result-list .results-footer, prm-search-result-list md-list-item, prm-search-bar .simple-search-wrapper .prm-hue2.search-options::after, prm-search-bar .simple-search-wrapper .search-options md-divider.prm-hue2, .prm-full-view-dialog, .full-view-inner-container, .__xs prm-facet.prm-hue2, .__sm prm-facet.prm-hue2, .__sm .prm-hue2.sidebar, .__xs .prm-hue2.sidebar, .__xs prm-full-view-cont .recommendations-wrapper, .__sm prm-full-view-cont .recommendations-wrapper, prm-recomendation-item .media-on-hover .pin-button, prm-recomendation-item .media-on-hover .pin-button:hover, prm-full-view-cont prm-recomendation-item .media-on-hover .prm-hue2.pin-button, .recommendations-title::after, prm-full-view-cont .prm-hue2.recommendations-title::after, .__xs prm-full-view-cont .recommendations-title::after, .__sm prm-full-view-cont .recommendations-title::after, .recommendations-title prm-icon, prm-full-view-cont .recommendations-title prm-icon.prm-hue2, .__xs prm-full-view-cont .recommendations-title prm-icon, .__sm prm-full-view-cont .recommendations-title prm-icon, md-virtual-repeat-container#prm-simple-search .md-autocomplete-suggestions md-divider.prm-hue2, md-grid-tile, .tiles-grid-tile, md-grid-tile md-list prm-spinner.overlay-cover::after, md-grid-tile .tile-content prm-spinner.overlay-cover::after, .tiles-grid-tile md-list prm-spinner.overlay-cover::after, .tiles-grid-tile .tile-content prm-spinner.overlay-cover::after, md-card.default-card, md-card .prm-hue2.card-content-block {
    background-color: #f8f8f8;
}

/*Results see all*/
a, .md-button.arrow-link-button .button-content {
    color: #22647B;
    line-height: 1.4em;
    cursor: pointer;
}

/*Results display resource type*/
.tiny-uppercase-text, prm-brief-result-container .media-content-type, md-menu-content .menu-title {
    color: #676767;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .75em;
}

/*Sign In bar */
.md-button.button-as-link, .bar prm-authentication .md-button {
    color: #22647B;
}
.alert-bar {
    height: 40px !important;
    min-height: 40px !important;
}

/*FACETS*/
.md-button.button-as-link.link-alt-color, .bar prm-authentication .md-button.link-alt-color, .bar prm-authentication .section-title prm-icon.md-button, .section-title .bar prm-authentication prm-icon.md-button, .section-title prm-icon.md-button.button-as-link {
    color: #3398BB;
}

/*Filter coloring*/
.section-content .md-chips .md-chip .md-chip-content._md-focused:not([disabled]), .section-content .md-chips .md-chip .md-chip-content.hovered:not([disabled]), .section-content .md-chips .md-chip .md-chip-content.md-focused:not([disabled]), .section-content .md-chips .md-chip .md-chip-content:focus:not([disabled]), .section-content .md-chips .md-chip .md-chip-content:hover:not([disabled]) {
    background-color: rgba(51, 152, 187, 0.1);;
}

.available-facets .section-content .md-chips .md-chip .button-exclude {
    z-index: 0;
    opacity: 0;
    transition: transform .3s cubic-bezier(.075,.82,.165,1),opacity .2s ease,z-index 0s .3s;
    color: #999999;
    transform: translate3d(-10px,0,0);
}

/*Multiple versions*/
.prm-notice, prm-search-result-frbr-line a > prm-icon:first-child, prm-search-result-frbr-line .md-button.arrow-link-button .button-content > prm-icon:first-child, .md-button.arrow-link-button prm-search-result-frbr-line .button-content > prm-icon:first-child {
    color: #BB7933;
}

/*My Account Section*/
/*Hide user expiration date and patron group*/
span[ng-if="cur.expiryDate"] {display:none;}
span[ng-if="cur.patronGroup"] {display:none;}


/*Full Display*/

/*Background color*/
.full-view-inner-container.flex {
    background-color: #eeeeee;
    border-right: 1px #999999 solid;
}
.full-view-spacer.flex-xl-30.flex-md-0.flex-lg-20.flex-0 {
    background-color: #eeeeee;
}
/*bX recommendations related readings pane*/
.flex-xl-20.flex-lgPlus-15 {
    background-color: #e0e0e0;
}
.full-view-aside.flex-xl-20.flex-md-25.flex-lg-25.flex {
    background-color: #e0e0e0;
}

/*Hide Virtual Browse*/
div#virtualBrowse {
    display: none;
}
span[translate="brief.results.tabs.browseshelf"] {display:none;}

/*Nov 2016 SP*/
/*Highlighted Search Terms*/
.text-highlight, mark {
    box-shadow: inset 0 -1.2em 0 0 rgba(255, 235, 59, 0.4);
}

prm-add-alert-toast md-toast .md-toast-content {
    -ms-flex-pack: center;
    justify-content: center;
    box-shadow: none;
    color: #333333;
    background-color: #EAF4FF;
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
}

/*Home page cards*/
md-card.default-card._md.md-primoExplore-theme {
    background-color: #ffffff;
    border-radius: 2px;
}

.md-headline {
    font-weight: 400;
    color: #4d6b82;
}

/*Home Page Images*/
.buHomeImg {
  border: 1px solid #aaaaaa;
}
.buHomeImg {
  width: 300px;
}
@media (max-width: 400px) {
  .buHomeImg {
    width: 200px;
  }
}

/*Contrast of headings in My Favorites*/
/*My Favorites*/
md-toolbar.md-primoExplore-theme .toolbar-title, md-toolbar .toolbar-title, md-toolbar:not(.md-menu-toolbar) .toolbar-title {
    font-weight: 400;
    font-size: 1.2em;
    margin-right: .5em;
    padding-left: .5em;
}

/*My Favorites, My Account Headers*/
md-toolbar.md-primoExplore-theme .toolbar-title, md-toolbar .toolbar-title, md-toolbar:not(.md-menu-toolbar) .toolbar-title {
    font-weight: 400;
}
