<h2>My Favorites</h2>
<p ng-if="!entry.template"><span>Favorites let you save results and label them for easy recall. To use:</span>
<ul>
    <li>Sign In first to save to your account</li>
    <li>Click the pushpin icon next to the title to save to My Favorites</li>
    <li>To view favorites, click the pushpin icon in the upper right corner</li>
    <li>Organize your results by adding labels</li>
    <li>Example: your most frequently used databases:
    <li>Use the ... Send to options to export to other formats and reference managers.</li>
    </li>
</ul>
</p>
<h2>Saved Searches</h2>
<p ng-if="!entry.template"><span>You can save searches to run again later or to set email alerts when new records are available.</span>
<ul>
	<li>After doing a search</li>
    <li>Sign In first, click the Save Search pin at the top of the results list</li>
    <li>You'll receive a prompt to optionally set a notifcation for email alerts</li>
    <li>To return to your saved searches, click the pushpin icon in the upper right corner (same as for My Favorites)</li>
</ul>
</p>
