<h2>Video Tutorials</h2>
<p ng-if="!entry.template"><span>text...</span></p>

<a class="arrow-link md-primoExplore-theme" href="https://mymedia.bu.edu/media/BU+Libraries+Search+Quick+Start/1_hotognl5" 
   target="_blank"><span ng-if="link.linkURL.length > 0 &amp;&amp; link.displayLabel.indexOf('$$E') != 0" 
                         ng-bind-html="link.displayLabel">Quick Start Guide</span><!--
--></a>
<br>

<a class="arrow-link md-primoExplore-theme" href="https://mymedia.bu.edu/media/BU+Libraries+Search+-+Refining+Your+Search/1_xelc77l5" 
   target="_blank"><!----><span ng-if="link.linkURL.length > 0 &amp;&amp; link.displayLabel.indexOf('$$E') != 0" 
   ng-bind-html="link.displayLabel">Refining Your Search</span></a>
<br>

<a class="arrow-link md-primoExplore-theme" href="https://mymedia.bu.edu/media/BU+Libraries+Search+-+Advanced+Search/1_napql4ph" 
   target="_blank"><!----><span ng-if="link.linkURL.length > 0 &amp;&amp; link.displayLabel.indexOf('$$E') != 0" 
   ng-bind-html="link.displayLabel">Advanced Search</span></a>
<br>

<a class="arrow-link md-primoExplore-theme" href="http://www.bu.edu/library/help/bu-libraries-search/" 
   target="_blank"><!----><span ng-if="link.linkURL.length > 0 &amp;&amp; link.displayLabel.indexOf('$$E') != 0" 
   ng-bind-html="link.displayLabel">View a playlist of all videos</span></a>
<br>

<iframe id="kaltura_player" src="https://cdnapisec.kaltura.com/p/2159741/sp/215974100/embedIframeJs/uiconf_id/39435141/partner_id/2159741?iframeembed=true&playerId=kaltura_player&entry_id=1_hotognl5&flashvars[streamerType]=auto&amp;flashvars[localizationCode]=en&amp;flashvars[leadWithHTML5]=true&amp;flashvars[sideBarContainer.plugin]=true&amp;flashvars[sideBarContainer.position]=left&amp;flashvars[sideBarContainer.clickToClose]=true&amp;flashvars[chapters.plugin]=true&amp;flashvars[chapters.layout]=vertical&amp;flashvars[chapters.thumbnailRotator]=false&amp;flashvars[streamSelector.plugin]=true&amp;flashvars[EmbedPlayer.SpinnerTarget]=videoHolder&amp;flashvars[dualScreen.plugin]=true&amp;&wid=1_i2qar3qa" 
        width="400" height="285" allowfullscreen webkitallowfullscreen mozAllowFullScreen allow="autoplay *; fullscreen *; encrypted-media *" frameborder="0" title="Kaltura Player"></iframe>