body primo-explore {
  /* BULIB-WC Color Variable overrides */ 
  --color-primary-background-dark: #000000;
  --color-secondary-background: #333333;
  --color-secondary-text: whitesmoke;
  --color-button-background-accent: #22647B;

  /* top-level usages */
  background-color: var(--color-secondary-background-color-light, #f5f5f5); 
}

