/* full-view - background color */
.full-view-inner-container.flex {
  background-color: #f8f8f8;
  border-right: 1px #999999 solid;
}
.flex-xl-20.flex-lgPlus-15 { background-color: #e0e0e0; }
.full-view-spacer.flex-xl-30.flex-md-0.flex-lg-20.flex-0 { background-color: #eeeeee; }
.full-view-aside.flex-xl-20.flex-md-25.flex-lg-25.flex { background-color: #e0e0e0; }
.full-view-section .section-title { font-weight: 600; }
.full-view-section .section-body { padding-bottom: 0em; }



/* Find Online - Link to Online Resource, esp. for Open Access articles */
prm-view-online div{
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  font-weight: 600;
  font-size: 110%;
  border-radius: 6px;
}


/* More Info/More Links - Full record display: ordering for More Links and nav */
.full-view-inner-container{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
#getit_link1_0{
  -webkit-box-ordinal-group: 0;
  -moz-box-ordinal-group: 0;
  -ms-flex-order: 0;
  -webkit-order: 0;
  order: 0;
}
#getit_link1_1{
  -webkit-box-ordinal-group: 0;
  -moz-box-ordinal-group: 0;
  -ms-flex-order: 0;
  -webkit-order: 0;
  order: 0;
}
#getit_link2{
  -webkit-box-ordinal-group: 0;
  -moz-box-ordinal-group: 0;
  -ms-flex-order: 0;
  -webkit-order: 0;
  order: 0;
}
#links{
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
}
#action_list{
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
}
#citationTrails{
  -webkit-box-ordinal-group: 3;
  -moz-box-ordinal-group: 3;
  -ms-flex-order: 3;
  -webkit-order: 3;
  order: 3;
}

#details{
  -webkit-box-ordinal-group: 4;
  -moz-box-ordinal-group: 4;
  -ms-flex-order: 4;
  -webkit-order: 4;
  order: 4;
}
#virtualBrowse{
  -webkit-box-ordinal-group: 5;
  -moz-box-ordinal-group: 5;
  -ms-flex-order: 5;
  -webkit-order: 5;
  order: 5;
}

.full-view-inner-container #services-index{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
button[aria-label="Find In Library"]{
  -webkit-box-ordinal-group: 0;
  -moz-box-ordinal-group: 0;
  -ms-flex-order: 0;
  -webkit-order: 0;
  order: 0;
}
button[aria-label="Find Online"]{
  -webkit-box-ordinal-group: 0;
  -moz-box-ordinal-group: 0;
  -ms-flex-order: 0;
  -webkit-order: 0;
  order: 0;
}
button[aria-label="More Links"]{
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
}
button[aria-label="Send to"]{
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
}
button[aria-label="Citations"]{
  -webkit-box-ordinal-group: 3;
  -moz-box-ordinal-group: 3;
  -ms-flex-order: 3;
  -webkit-order: 3;
  order: 3;
}

button[aria-label="Details"]{
  -webkit-box-ordinal-group: 4;
  -moz-box-ordinal-group: 4;
  -ms-flex-order: 4;
  -webkit-order: 4;
  order: 4;
}
button[aria-label="Virtual Browse"]{
  -webkit-box-ordinal-group: 5;
  -moz-box-ordinal-group: 5;
  -ms-flex-order: 5;
  -webkit-order: 5;
  order: 5;
}

/* Hide bX cover images, text, icon */
div[ng-if="$ctrl.rec.image"] {display: none;}
span[translate="nui.suggestion.bx.message"] {display:none;}
img[ng-if="$ctrl.rec.suggestion == 'BX'"] {display:none;}

/* Hide Collection nav from Full Display */
prm-record-collection-paths { display: none; }

/* Hide PCI toggle */
div[ng-if="($ctrl.showPcAvailability && !$ctrl.searchInProgress) || ($ctrl.isNewspapersSearch && !$ctrl.searchInProgress)"] {display:none;}

/* Hide PCI toggle for Mobile width */
md-checkbox[ng-model="$ctrl.pcAvailability"] {display:none;}
span[translate="expandresults"]{display:none;}


/* Send to - query list buttons */
.saved-query-list>md-nav-bar .md-nav-item .md-button, prm-action-list>md-nav-bar .md-nav-item .md-button {
  color: var(--color-button-background-accent, #22647b);
  border-radius: 0;
  padding-bottom: .75em;
  padding-top: .75em;
  margin: 0;
}
.saved-query-list>md-nav-bar .md-nav-item .md-button, prm-action-list>md-nav-bar .md-nav-item .md-button:hover {
  color: var(--color-button-background-accent, #22647b);
  border-radius: 0;
  padding-bottom: .75em;
  padding-top: .75em;
  margin: 0;
}

/* reduce padding for text encoding dropdown (send to > export bibtex, zotero selected) */
prm-export-bibtex div.send-actions-content-item form md-input-container,
  prm-export-ris div.send-actions-content-item form md-input-container  { 
    margin: unset;
}


/* Details - adjust padding for images in the 'Source' block of full display > Details */
prm-service-details > #item-details div.item-details-element prm-highlight img { 
  margin-left: 5px; 
  margin-bottom: -5px;
  border-radius: 3px !important;
}