/*Move for tablets and mobile*/
@media (max-width:929px) {
  .s-lch-widget-float { bottom: 60px !important; }
}

@media (max-width:500px) {
  .s-lch-widget-float { bottom: 120px !important; }
}

@media (max-width:600px) {
  .s-lch-widget-float.open { width: 90% !important; }
}

.s-lch-widget-float-load {
  border: 1px solid #286090 !important;
  box-shadow: 0.1em 0.1em 0.1em #286090 !important;
}

/*start and minimize buttons*/
.s-la-widget .btn-chat {
  color: #EEEEEE;
  background-color: #286090;
  border-color: #286090;
}
.s-la-widget .btn-chat:hover, .s-la-widget .btn-chat:active, .s-la-widget .btn-chat:focus, .s-la-widget .btn-chat[disabled] {
  color: #FFFFFF;
  background-color: #286090;
  border-color: #286090;
}

/* responsiveness: hide libchat widget on small screens */
@media (max-width: 950px){ 
  #s-lch-widget-8959 { display: none; }
}