/* Highlighted Search Terms */
.text-highlight, mark {
  box-shadow: inset 0 -1.2em 0 0 rgba(255, 235, 59, 0.4);
}

/* Result title hyperlink */
prm-brief-result .item-title {
  font-size: 1.18em;
  line-height: 1.2em;
  color: var(--color-button-background-accent, #22647B);
  font-weight: 600;
  cursor: pointer;
}

/* Availability Statement */
.prm-positive { color: var(--color-accent-green-background, #147114); }

.status-available, [class*="available"] > span:first-of-type,
  [class*="FT"] > span:first-of-type,
  .not_restricted > span:first-of-type,
  .fulltext > span:first-of-type,
  .fulltext_linktorsrc > span:first-of-type {
    color: var(--color-accent-green-background, #147114);
    font-weight: 600;
}

.status-unavailable, [class*="unavailable"] > span:first-of-type, 
  [class*="no_"] > span:first-of-type, .restricted > span:first-of-type, 
  .duedate > span:first-of-type {
    color: #676767;
}
prm-search-result-availability-line {
  line-height: 1.2em;
  padding-top: .5em;
  padding-bottom: .2em;
}

/* Brief Results - make lighter and blue on hover */
div.list-item-wrapper { background-color: white; }

.prm-hover-list-element-bg, 
  .md-button.arrow-link-button md-list.prm-list.prm-linkable-list-items md-list-item>.md-button>.button-content:focus+._md-list-item-inner, 
  .md-button.arrow-link-button md-list.prm-list.prm-linkable-list-items md-list-item>.md-button>.button-content:focus+.md-list-item-inner, 
  .md-button.arrow-link-button md-list.prm-list.prm-linkable-list-items md-list-item>.md-button>.button-content:hover+._md-list-item-inner, 
  .md-button.arrow-link-button md-list.prm-list.prm-linkable-list-items md-list-item>.md-button>.button-content:hover+.md-list-item-inner, 
  md-list.prm-list.prm-linkable-list-items .md-button.arrow-link-button md-list-item>.md-button>.button-content:focus+._md-list-item-inner, 
  md-list.prm-list.prm-linkable-list-items .md-button.arrow-link-button md-list-item>.md-button>.button-content:focus+.md-list-item-inner, 
  md-list.prm-list.prm-linkable-list-items .md-button.arrow-link-button md-list-item>.md-button>.button-content:hover+._md-list-item-inner, 
  md-list.prm-list.prm-linkable-list-items .md-button.arrow-link-button md-list-item>.md-button>.button-content:hover+.md-list-item-inner, 
  md-list.prm-list.prm-linkable-list-items md-list-item.recommendations-title.hover>span.md-button>span+._md-list-item-inner, 
  md-list.prm-list.prm-linkable-list-items md-list-item.recommendations-title.hover>span.md-button>span+.md-list-item-inner, 
  md-list.prm-list.prm-linkable-list-items md-list-item.recommendations-title:hover>span.md-button>span+._md-list-item-inner, 
  md-list.prm-list.prm-linkable-list-items md-list-item.recommendations-title:hover>span.md-button>span+.md-list-item-inner, 
  md-list.prm-list.prm-linkable-list-items md-list-item>.md-button>a:focus+._md-list-item-inner, 
  md-list.prm-list.prm-linkable-list-items md-list-item>.md-button>a:focus+.md-list-item-inner, 
  md-list.prm-list.prm-linkable-list-items md-list-item>.md-button>a:hover+._md-list-item-inner, 
  md-list.prm-list.prm-linkable-list-items md-list-item>.md-button>a:hover+.md-list-item-inner, 
  md-list.prm-list.prm-linkable-list-items prm-tags-list .md-chips .md-chip .md-chip-content:hover md-list-item>.md-button>strong+._md-list-item-inner,
  md-list.prm-list.prm-linkable-list-items prm-tags-list .md-chips .md-chip .md-chip-content:hover md-list-item>.md-button>strong+.md-list-item-inner, 
  md-list.prm-list.prm-linkable-list-items prm-tags-list .md-chips md-chip .md-chip-content:hover md-list-item>.md-button>strong+._md-list-item-inner, 
  md-list.prm-list.prm-linkable-list-items prm-tags-list .md-chips md-chip .md-chip-content:hover md-list-item>.md-button>strong+.md-list-item-inner, 
  md-list.prm-list.prm-linkable-list-items prm-tags-list md-chips .md-chip .md-chip-content:hover md-list-item>.md-button>strong+._md-list-item-inner, 
  md-list.prm-list.prm-linkable-list-items prm-tags-list md-chips .md-chip .md-chip-content:hover md-list-item>.md-button>strong+.md-list-item-inner, 
  md-list.prm-list.prm-linkable-list-items prm-tags-list md-chips md-chip .md-chip-content:hover md-list-item>.md-button>strong+._md-list-item-inner, 
  md-list.prm-list.prm-linkable-list-items prm-tags-list md-chips md-chip .md-chip-content:hover md-list-item>.md-button>strong+.md-list-item-inner, 
  prm-brief-result-container .list-item-primary-content:before, prm-browse-search md-list.prm-list.prm-linkable-list-items md-list-item>.md-button>a:focus+._md-list-item-inner, 
  prm-browse-search md-list.prm-list.prm-linkable-list-items md-list-item>.md-button>a:focus+.md-list-item-inner, 
  prm-browse-search md-list.prm-list.prm-linkable-list-items md-list-item>.md-button>a:hover+._md-list-item-inner, 
  prm-browse-search md-list.prm-list.prm-linkable-list-items md-list-item>.md-button>a:hover+.md-list-item-inner, 
  prm-tags-list .md-chips .md-chip .md-chip-content:hover md-list.prm-list.prm-linkable-list-items md-list-item>.md-button>strong+._md-list-item-inner, 
  prm-tags-list .md-chips .md-chip .md-chip-content:hover md-list.prm-list.prm-linkable-list-items md-list-item>.md-button>strong+.md-list-item-inner, 
  prm-tags-list .md-chips md-chip .md-chip-content:hover md-list.prm-list.prm-linkable-list-items md-list-item>.md-button>strong+._md-list-item-inner, 
  prm-tags-list .md-chips md-chip .md-chip-content:hover md-list.prm-list.prm-linkable-list-items md-list-item>.md-button>strong+.md-list-item-inner, 
  prm-tags-list md-chips .md-chip .md-chip-content:hover md-list.prm-list.prm-linkable-list-items md-list-item>.md-button>strong+._md-list-item-inner, 
  prm-tags-list md-chips .md-chip .md-chip-content:hover md-list.prm-list.prm-linkable-list-items md-list-item>.md-button>strong+.md-list-item-inner, 
  prm-tags-list md-chips md-chip .md-chip-content:hover md-list.prm-list.prm-linkable-list-items md-list-item>.md-button>strong+._md-list-item-inner, 
  prm-tags-list md-chips md-chip .md-chip-content:hover md-list.prm-list.prm-linkable-list-items md-list-item>.md-button>strong+.md-list-item-inner, 
  prm-tags-results-list md-list.prm-list.prm-linkable-list-items md-list-item>.md-button>a:focus+._md-list-item-inner, 
  prm-tags-results-list md-list.prm-list.prm-linkable-list-items md-list-item>.md-button>a:focus+.md-list-item-inner, 
  prm-tags-results-list md-list.prm-list.prm-linkable-list-items md-list-item>.md-button>a:hover+._md-list-item-inner, 
  prm-tags-results-list md-list.prm-list.prm-linkable-list-items md-list-item>.md-button>a:hover+.md-list-item-inner {
    background-color: var(--color-accent-blue-hover, rgba(37, 122, 190, 0.05));
}

/* Spacing for ed in brief result title */
prm-brief-result .item-title span { padding-right: .1em; }

/* Summer 2018 fixes */
prm-brief-result-container .list-item-primary-content {background-color: #ffffff;}

/* Pin */
.prm-secondary-color.prm-hue1, .result-item-actions .custom-button.pin-button, 
  prm-search-bookmark-filter .prm-hue1.md-button, prm-topbar .prm-hue1.top-nav-bar, 
  prm-recomendation-item .media-on-hover .pin-button {
    color: var(--color-button-background-accent, #22647B);
}

/* Results count section background make lighter */
.prm-background.prm-hue2, html.prm-hue2, body.prm-hue2, 
  .line-clamp-1::after, .line-clamp-2::after, .line-clamp-3::after, .line-clamp-4::after, .line-clamp-5::after, 
  prm-search-result-list md-list-item, prm-search-result-list .results-title, prm-search-result-list .results-footer, 
  prm-search-bar .simple-search-wrapper .prm-hue2.search-options::after, 
  prm-search-bar .simple-search-wrapper .search-options md-divider.prm-hue2, 
  .prm-full-view-dialog, .full-view-inner-container, 
  .__xs prm-facet.prm-hue2, .__xs .prm-hue2.sidebar, .__xs prm-full-view-cont .recommendations-wrapper, 
  .__sm prm-facet.prm-hue2, .__sm .prm-hue2.sidebar, .__sm prm-full-view-cont .recommendations-wrapper, 
  prm-recomendation-item .media-on-hover .pin-button, 
  prm-recomendation-item .media-on-hover .pin-button:hover, 
  prm-full-view-cont prm-recomendation-item .media-on-hover .prm-hue2.pin-button, 
  .recommendations-title::after, prm-full-view-cont .prm-hue2.recommendations-title::after,
  .__xs prm-full-view-cont .recommendations-title::after, 
  .__sm prm-full-view-cont .recommendations-title::after, 
  .recommendations-title prm-icon, 
  prm-full-view-cont .recommendations-title prm-icon.prm-hue2, 
  .__xs prm-full-view-cont .recommendations-title prm-icon, 
  .__sm prm-full-view-cont .recommendations-title prm-icon, 
  md-virtual-repeat-container#prm-simple-search .md-autocomplete-suggestions md-divider.prm-hue2, 
  md-grid-tile, .tiles-grid-tile, md-grid-tile md-list prm-spinner.overlay-cover::after, 
  md-grid-tile .tile-content prm-spinner.overlay-cover::after, 
  .tiles-grid-tile md-list prm-spinner.overlay-cover::after, 
  .tiles-grid-tile .tile-content prm-spinner.overlay-cover::after, 
  md-card.default-card, md-card .prm-hue2.card-content-block {
    background-color: #fdfdfd;
}
prm-newspapers-search-bar .flex-xl-20.flex-lgPlus-15 { background-color: unset; }

/* Results see all */
a, .md-button.arrow-link-button .button-content {
  color: var(--color-button-background-accent, #22647B);
  cursor: pointer;
}

/* Results display resource type */
.tiny-uppercase-text, prm-brief-result-container .media-content-type, md-menu-content .menu-title {
  color: #676767;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  font-weight: 600;
  font-size: .75em;
}

/* Multiple versions */
.prm-notice, prm-search-result-frbr-line a > prm-icon:first-child, 
  prm-search-result-frbr-line .md-button.arrow-link-button .button-content > prm-icon:first-child, 
  .md-button.arrow-link-button prm-search-result-frbr-line .button-content > prm-icon:first-child {
    color: var(--color-accent-orange-background, #BB7933);
}


/* - Resource Recommender (brief results) - */
prm-resource-recommender .resource-image .resource-image-inner {
  overflow: hidden;
  max-width: 50px;
  max-height: 50px;
  margin-left: 0.5em;
  float: left;
}

h3.resource-title {font-weight: 600;}
prm-resource-recommender md-card {
  background-color: #ffffff;
}

prm-resource-recommender div.layout-sm-column div.layout-align-center-end {padding: 6px;}
span[translate="nui.resRecomm.brief.fullviewLink"]{
  font-size: 1.1em; 
  color: var(--color-button-background, #257ABE);
}


/* - Facets - */
.md-button.button-as-link.link-alt-color, .bar prm-authentication .md-button.link-alt-color, 
  .bar prm-authentication .section-title prm-icon.md-button, .section-title .bar prm-authentication prm-icon.md-button, 
  .section-title prm-icon.md-button.button-as-link {
    color: #3398BB;
}
.section-title-header, .sidebar-header {
  text-transform: none;
  font-weight: 600;
  font-size: 1.10rem;
  color: #3a3a3a;
  margin-bottom: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: .5em;
}


/* Primarily for facets background */
html, body { background-color: #f3f3f3; }

/* Filter coloring */
.section-content .md-chips .md-chip .md-chip-content._md-focused:not([disabled]), 
  .section-content .md-chips .md-chip .md-chip-content.hovered:not([disabled]), 
  .section-content .md-chips .md-chip .md-chip-content.md-focused:not([disabled]), 
  .section-content .md-chips .md-chip .md-chip-content:focus:not([disabled]), 
  .section-content .md-chips .md-chip .md-chip-content:hover:not([disabled]) {
    background-color: rgba(51, 152, 187, 0.1);;
}

.available-facets .section-content .md-chips .md-chip .button-exclude {
  z-index: 0;
  opacity: 0;
  transition: transform .3s cubic-bezier(.075,.82,.165,1),opacity .2s ease,z-index 0s .3s;
  color: #999999;
  transform: translate3d(-10px,0,0);
}


/* - Citation trails - */

/* Selected text highlighting */
::selection {
  background: var(--color-accent-blue-highlight, rgba(0, 188, 212, 0.25));
}

/* end to first button hover */
.md-button.md-primary._md-focused:not([disabled]), .md-button.md-primary.hovered:not([disabled]), 
  .md-button.md-primary.md-focused:not([disabled]), .md-button.md-primary:focus:not([disabled]), 
  .md-button.md-primary:hover:not([disabled]) {
    color: var(--color-button-background-accent, #22647b);
    background-color: rgba(58,58,58,.1);
}
