/* - helper code for announcement banner for [`primo-explore-wrlc-announce` package](https://www.npmjs.com/package/primo-explore-wrlc-announce */

/* main banner styling */
#wrlc-announce-banner {
  background-color: lightblue;
  position: absolute;
  bottom: 0; left: 0;
  width: 100%;
  font-size: 15px;
}

/* style message (with background) */
#wrlc-announce-banner #message { margin: 12px }
#wrlc-announce-banner.success {
  background: #B0E0E6 !important;
}
#wrlc-announce-banner.warn, #wrlc-announce-banner.alert {
  background: lightsalmon !important;
  font-weight: 600;
}
#wrlc-announce-banner.info {
  background: #E0FFFF !important;
}
