/* - helper code for announcement banner for [`primo-explore-wrlc-announce` package](https://www.npmjs.com/package/primo-explore-wrlc-announce */

prm-search-bar {
  padding-bottom: 58.5px;
}
.__sm prm-search-bar {
  padding-bottom: 50px;
}
.__xs prm-search-bar {
  padding-bottom: 50px;
}
#wrlc-announce-banner {
	background-color: lightblue;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
}

#message {
  margin-left: 12px;
  margin-right: 12px;
}

#wrlc-announce-banner.warn  {
  background: lightyellow !important;
}

#wrlc-announce-banner.success {
  background: mediumaquamarine !important;
}

#wrlc-announce-banner.alert {
  background: lightcoral !important;
}

#wrlc-announce-banner.info {
  background: lightblue !important;
}
