/* -- For ISL branding -- */
prm-search-bar::before {
  text-transform: uppercase;
  color: white !important;
}

.prm-primary-bg, prm-spinner.overlay-cover.light-on-dark:after, prm-search-bar {
  background-color: #555;
  padding-top: 50px;
}
