
/*For ISL branding*/
prm-search-bar::before {
  content: "Industry Survey Locator";
  text-transform: uppercase;
  color: #fff;
  font-family: inherit;
  font-weight: 400;
  font-size: 1.5rem;
  padding: 10px;
  position: fixed;
  top: 50px;

}


.prm-primary-bg, prm-spinner.overlay-cover.light-on-dark:after, prm-search-bar {
    background-color: #555;
    padding-top: 50px;
}
