/* - Home page - */

/* Home Page Images */
.buHomeImg { border: 1px solid #aaaaaa; }
.buHomeImg { width: 300px; }
@media (max-width: 400px) {
  .buHomeImg { width: 200px; }
}


/* - My Favorites - */

/* Contrast of headings in My Favorites */
md-toolbar.md-primoExplore-theme .toolbar-title, md-toolbar .toolbar-title, 
  md-toolbar:not(.md-menu-toolbar) .toolbar-title {
    font-weight: 400;
    font-size: 1.2em;
    margin-right: .5em;
    padding-left: .5em;
}

/* My Account Headers */
md-toolbar.md-primoExplore-theme .toolbar-title, md-toolbar .toolbar-title, 
  md-toolbar:not(.md-menu-toolbar) .toolbar-title {
    font-weight: 400;
}

/* - dated SP updates - */

/* 2016-11 SP: toast allert - */
prm-add-alert-toast md-toast .md-toast-content {
  -ms-flex-pack: center;
  justify-content: center;
  box-shadow: none;
  color: var(--color-secondary-background-dark, #333333);
  background-color: var(--color-secondary-text, #EAF4FF);
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
}

/* 2017-05 SP: Hide Tags */
div#tags {display: none;}
button[aria-label="Tags"] {display:none;}

/* 2017-11 SP: iOS11 workaround (until?) */
.md-dialog-container {
  height: 100% !important;
  position: fixed !important;
  top: 0px !important;
}
