/* - move facets to the left - */

prm-search > md-content.md-primoExplore-theme .main {
  /* most browsers */
  display: flex; 
  flex-flow: row-reverse wrap;

  /* safari-specific */
  display: -webkit-flex; 
  -webkit-flex-flow: row-reverse wrap; 
}
.screen-gt-sm .sidebar {
  webkit-flex: 0 0 15%;
  flex: 0 0 15%;
}

